.game_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1850px;
  height: 700px;
  left: calc(50% - 1860px / 2 + 1px);
  top: 200px;
  background: rgba(0, 0, 0, 0.7);
}

.row {
  width: 1350px;
  margin: 40px 0px;
}

.row h1 {
  font-size: 36px;
  line-height: 39px;
  color: #ffffff;
}

.row p {
  width: 300px;
  height: 45px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  margin: 0;
  font-size: 25px;
  text-align: center;
}

.row_1 p {
  width: 1200px;
}
