<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mars.project.mappers.GameMapper">
    <resultMap id="gameResultMap" type="com.mars.project.model.Game">        

        <id column="game_id" property="game_id"/>
        <result column="cod" property="cod"/>
        <result column="title" property="title"/>
        <result column="release_date" property="release_date"/>
        <result column="price" property="price"/>
        <result column="purchase_date" property="purchase_date"/>
        <result column="start_date" property="start_date"/>
        <result column="finish_date" property="finish_date"/>
        <result column="cover" property="cover"/>

        <association column="status" property="status"
        javaType="com.mars.project.model.Status"
        resultMap="com.mars.project.mappers.StatusMapper.statusResultMap"></association>
    </resultMap>

    <resultMap id="platformResult" type="com.mars.project.model.Game">

        <id column="game_id" property="game_id"/>
        <result column="title" property="title"/>

        <collection javaType="ArrayList" property="platforms"
        resultMap="com.mars.project.mappers.PlatformMapper.platformResultMap"></collection>

    </resultMap>

    <select id="listGame" resultMap="gameResultMap">
        SELECT * FROM db_mars.game
        INNER JOIN status ON game.status = status.status_id ORDER BY game.cod;
    </select>

    <select id="getGameDetail" resultMap="gameResultMap" parameterType="int">
        SELECT * FROM db_mars.game 
        INNER JOIN status ON game.status = status.status_id
        WHERE game_id = #{game_id};
    </select>
    
    <insert id="addGame" parameterType="com.mars.project.model.Game">
        INSERT INTO game (title, status, release_date, price, purchase_date, start_date, finish_date, cover)
        VALUES
        (#{title}, #{status.status_id}, #{release_date}, #{price},
        #{purchase_date}, #{start_date}, #{finish_date}, #{cover});
    </insert>
</mapper>