<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mars.project.mappers.Game_PlatformMapper">
    <resultMap id="gameResultMap" type="com.mars.project.model.Game_platform">        
        
    </resultMap>

    <select id="listGame" resultMap="gameResultMap">
        SELECT * FROM db_mars.game
        INNER JOIN status ON game.status = status.status_id ORDER BY game.cod;
    </select>

    <insert id="addGame" parameterType="com.mars.project.model.Game">
        INSERT INTO game (title, status, release_date, price, purchase_date, start_date, finish_date, cover)
        VALUES
        (#{title}, #{status.status_id}, #{release_date}, #{price},
        #{purchase_date}, #{start_date}, #{finish_date}, #{cover});
    </insert>
</mapper>