<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Code</th>
          <th>Game</th>
          <th>Status</th>
          <th>Cover</th>
        </tr>
      </thead>
      <tbody>
        <tr th:if="${listGame.empty}">
          <td>No results</td>
        </tr>
        <tr th:each="unit: ${listGame}">
          <td><span th:text="${unit.cod}"></span></td>
          <td><span th:text="${unit.title}"></span></td>
          <td><span th:text="${unit.Status.descr}"></span></td>
          <td><img th:src="${unit.cover}" alt="" width="120" /></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
